# Base requirements
opensearch-py==2.4.2
requests-aws4auth==1.2.3
boto3==1.34.24

# For data processing
numpy==1.24.3
pandas==2.0.3

# For text processing
nltk==3.8.1

# For additional AWS services
aws-xray-sdk==2.12.0